* {
    box-sizing: border-box;
}

html {
    font-size: 20px; /* this specifies that 1rem = 20px, so keep that in mind */
    overflow-x: hidden;
}

body {
    background-image: url('../images/Studyingbooks.jpg');
    background-attachment: fixed;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.banner {
    background-color: #85070A;
    background-image: url("../images/REEDGRIFFIN.png");
    background-repeat: no-repeat;
    background-size: 7rem 7.5rem; /*140px 150px; */
    text-align: left;
    padding-left: 40px; /*4.25rem; /*85px; */
    padding-bottom: 1rem; /*20px; */
}

.bannerdiv {
    white-space: nowrap;
	overflow: hidden;
}

.bannertext {
	padding-top: 1rem; /*20px;*/
	margin: auto;
	font-size: 1.5rem;
	color: white;
	font-family: times, serif;
}

h1 {
	color: white;
	font-family: times;
	letter-spacing: 0.1rem; /*2px;*/
}

h2 {
    color: black;
    font-family: 'Nunito', serif;
    font-size: 2rem;
    text-align: center;
    padding-top: 1.7rem; /*25px; */
}

h3 {
	font-family: 'Nunito', serif;
	color: black;
    font-size: 1rem;
    padding-top: 0.5rem; /*10px;*/
    padding-bottom: 1.25rem; /*25px;*/
    text-align: center;
}

.topnav {
    overflow: hidden;
}


.topnav a {
	overflow: hidden;
    display: inline-block;
    padding-right: 0.2rem; /*6px;*/
    padding-left: 0;
    padding-top: 0.375rem; /*7.5px;*/
    color: #f2f2f2;
    text-decoration: none;
    font-size: 0.6rem; /*12px;*/
	font-family: 'Myriad', sans-serif;
    letter-spacing: 0.05rem; /*1px;*/
}

.topnav a:hover {
    color: #787562;
	transition-delay: .15s; /* delays for .15 seconds */
	-webkit-transition-delay: .15s; /* ^for Safari & Chrome */
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.menu-element {
    padding-right: 0.45rem;
}

.username_login {
    float: right;
    font-size: 12px;
    color: black;
    margin: 10px 10px 0px 0px;
}

.username_login .about {
    float: right;
    color: black;
    padding: 0;
    position: relative;
    bottom: 7px;
    width: 90px;
}

.username_login .about a {
    color: black;
}

.mobile-nav {
    width: 100%;
}

.mobile-nav * li {
    width: 32%;
    text-align: center;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: black;
}

/*MOBILE STYLING */
@media screen and (max-width: 768px) {
    .banner {
        background-image: none;
        padding-left:0rem;
        padding-bottom: 0rem;
    }

    .topnav a {
        font-size: 0.7rem;
    }

    .bannertext {
        font-size: 1rem;
        float: left;
        padding-left: 2rem;
        margin: 0;
        position: relative;
        left: -30px;
        top: -10px;
    }

    .topnav {
        overflow: hidden;
        position: relative;
        left: -35px;
        bottom: 10px;
    }

    .topnav a {
        margin-right: 7px;
    }

    .topnav .menu-element.open {
        height:auto
    }
    
}
