.messages-container {
    height: 300px;
    position: relative;
}

.messages {
    box-sizing: border-box;
    padding: 20px;
    overflow: auto;
    height: 300px;
    background-color: rgba(245,243,238, 0.3);
}

.user-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 498px;
    overflow: auto;
    background: #fff;
    margin: 0;
    padding: 20px;
    border-left: 1px solid #DDD;
}

.user-list li {
    display: block;
    color: orange;
    font-weight: bold;
}

.msg .pull-left {
    width: 100%;
    color: black;
}

.msg .pull-right {
    color: black;
}

.msg {
    font-size: 17px;
    width: 100%;
    font-family: arial;
}
.msg p {
    word-wrap: break-word;
}

.msg .pull-right .username {
    font-weight: bold;
    color: #686561;
}

.msg .pull-left .username {
    font-weight: bold;
    color: #c1171b;
}

.timestamp {
    font-size: 12px;
    color: grey;
}

.add-message {
    margin-top: 20px;
}

.away span {
    color: #666;
    font-style: italic;
    font-weight: normal;
}

.online-text {
    color: green;
    font-weight: bold;
    font-size: 17px;
    text-shadow: 1px 1px 3px white;
    width: 100%;
}

.offline-text {
    font-size: 17px;
    color: #85070A;
    font-weight: bold;
    text-shadow: 1px 1px 3px white;
    width: 100%;
}

.opponent_username {
    font-size: 17px;
    color: black;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-shadow: 2px 2px 5px white;
}

.col-md-3 .pull-right {
    width: 100%;
    color: #c1171b
}

/*MOBILE STYLING*/
@media screen and (max-width:500px) {
    .messages-container, .opponent_username, .online-text, .offline-text, .add-message {
        padding-left: 2%;
        padding-right: 2%;
    }



}
