.error {
    text-align: center;
    color: black;
    padding-top: 40px;
}

.errorp {
    text-align: center;
    color: black;
    font-size: 22px;
}

img {
    width: 30%;
    height: auto;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    width: 100%;
    padding: 0 25% 0 25%;
    text-align: center;
}

ul a {
    color: black;
    font-family: sans-serif;
    font-size: 18px;
}
