.hours{
    text-align: center;
    vertical-align: middle;
    margin: 5% 20% 5% 20%;/*0.5rem 13.75rem 1rem 13.75rem; /*10px 275px 20px 275px;*/
    color: black;
    background-color: rgba(225, 225, 225, 0.2);
    border: 0.1rem solid white; /*2px*/
    border-radius: 0.1rem; /*2px;*/
    	padding: 2%; /*1rem; /*20px;*/
    text-align: center;
    border: 1rem;
}

.tutortitle {
    font-size: 1.25rem;
    margin-top: 2rem; /*60px;*/
    margin-bottom: 1.35rem;/*27px;*/
    font-weight: bold;
}

.tutorsdiv {
    margin: 5% 5% 5% 5%; /*0.5rem 8.5rem 1rem 8.5rem; /*10px 170px 20px 170px;*/
    color: black;
    background-color: rgba(225, 225, 225, 0.2);
    border-radius: 0.1rem; /*2px;*/
    padding: 5%; /*20px;*/
    text-align: center;
    overflow: auto;
    border: 1rem;

}

.table {
    font-family: "Crimson Text", sans-serif;
    padding: 0.5rem; /*10px;*/
    padding-right: 1rem; /*20px;*/
}

th {
    text-align: center;
    border: none !important;
    font-size: 0.9rem; /*18px;*/
    text-decoration: underline;
}

td {
    border: none !important;
    font-size: 0.9rem; /*18px;*/
}

td .tutorlink {
    color: black;
}

td .tutorlink:hover {
    color: #85070A;
}

/* last login element */
.last-log {
    text-align: center;
}
@-moz-document url-prefix() {
    fieldset { display: table-cell; }
    }

/* RESPONSIVE DESIGN */
@media screen and (max-width: 740px) {
    .hours{
        margin: 5% 5% 5% 5%;
        font-size: 0.85rem;
    }

    .table {
        font-family: sans-serif;
        font-size: 0.85rem;
    }

    th {
        text-align: left;
        text-decoration: none;
    }

    td {
        font-size: 0.85rem;
    }

    .tutorsdiv {
        padding: 0;
    }
}
