.clickable-row {
    cursor: pointer;
    cursor: hand;
}

.messages-div {
    margin: 5% 5% 5% 5%;
    color: black;
    background-color: rgba(225, 225, 225, 0.2);
    border-radius: 0.1rem;
    padding: 5% 0%;
    text-align: center;
    overflow: auto;
    border: 1rem;
}

.messages-table {
    text-align: left;
}
