
		/* governs banner across all pages */
		.bannerdiv {
			margin: auto;
			background-color: #A70E16;
			text-align: center;
			white-space: nowrap;
  			overflow: hidden;
		}
		#bannertext {
			padding-top: 45px;
			margin: auto;
			font-size: 37.5px;
			color: white;
			font-family: times;
			text-align: center;
		}
		/*#bannertext:hover {
			color: #A70E16;
			background-color: white;*/
		}

		h1 {
			color: white;
			text-decoration: underline overline;
			font-family: times;
			text-align: center;
			letter-spacing: 4px;
		}
		h3 {
			font-family: times;
			color: 	white;
			text-align: center;
			padding: 10px;
		}

		body {
			background-color: #A70E16;
		}

		ul {
			overflow: hidden;
			line-height: 1.7;
			text-align: center;
			list-style-position: inside;
			list-style-type: none;
		}

		a:link {
			color: white;
			text-decoration: none;
		}
		a:visited {
			color: white;
		}
		a:hover {
			color: black;
		}


		.courselisting {
			margin: auto;
			padding-top: 15px;
			text-align: center;
			font-size: 14px;
			background-color: #A70E16;
			text-decoration: none;
		}


	/* governs text styling on start/stop page */
		.startstopgreetings {
			color: white;
			font-family: times;
			text-align: center;
		}

		.startstopwarning {
  			color: white;
  		text-align: center;
  		font-family: times;
  		font-style: italic;
  		font-size: 16px;
  		padding: 15px;
  		}

		#logoleft {
			float: left;
			border-radius: 120px;
		}

		#logoright {
			float: right;
			border-radius: 120px;
		}

	/*governs the buttons on the start/stop tutoring page*/
.buttondiv {
	text-align: center;
}

.beginbutton {
  padding: 25px 25px;
  font-size: 28px;
  text-align: center;
  cursor: pointer;
  outline: None;
  color: #fff;
  background-color: #4CAF50;
  border: 2px solid black;
  border-radius: 50px;
  box-shadow: 0 9px black;
}

.beginbutton:hover {background-color: #3e8e41}

.beginbutton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

.endbutton {
  padding: 25px 25px;
  font-size: 28px;
  text-align: center;
  cursor: pointer;
  outline: None;
  color: #fff;
  background-color: #ff0000;
  border: 2px solid black;
  border-radius: 50px;
  box-shadow: 0 9px black;
}

.endbutton:hover {
  background-color: #cc0000;
}

.endbutton:active {
  background-color: #cc0000;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

#tutorsdiv {
	margin: auto;
	color: white;
	background-color: #A70E16;
	border: 5px dotted white;
	border-radius: 30px;
	padding-top: 20px;
	width: 600px;
	text-align: center;
}

td { border: none !important; }

/* NavBar style stuff */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #A70E16; /* #333 */
    overflow: hidden;
	text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
/*    float: left; */
	overflow: hidden;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	font-family: 'Times';
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: white; /* #ddd */
    color: #A70E16;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* search function styling */

* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a.header {
  background-color: #e2e2e2;
  cursor: default;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
