
* {
  box-sizing: border-box;
}

/* governs banner across all pages */
.banner {
    background-color: #85070A;
    background-image: url("REEDGRIFFIN.png");
    background-repeat: no-repeat;
    background-size: 140px 150px;
    text-align: left;
    padding-left: 85px;
    padding-bottom: 20px;

}

.bannerdiv {
	white-space: nowrap;
		overflow: hidden;
}

#bannertext {
	padding-top: 20px;
	margin: auto;
	font-size: 30px;
	color: white;
	font-family: times;
}


h1 {
	color: white;
	font-family: times;
	letter-spacing: 2px;
}

h2 {
  color: black;
  font-family: 'Nunito', serif;
  font-size: 40px;
  text-align: center;
}

h3 {
	font-family: 'Nunito', serif;
	color: black;
  font-size: 20px;
  padding-bottom: 3px;
  text-align: center;

}


ul {
	overflow: hidden;
	line-height: 1.7;
	text-align: center;
	list-style-position: inside;
	list-style-type: none;
  color: black;
}

a:link {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
}
a:hover {
	color: black;
}


/* governs text styling on start/stop page */
.startstopgreetings {
	color: white;
	font-family: times;
	text-align: center;
}

.startstopwarning {
		color: white;
	text-align: center;
	font-family: times;
	font-style: italic;
	font-size: 16px;
	padding: 15px;
	}


/*governs the buttons on the start/stop tutoring page*/

.buttondiv {
	text-align: center;
}

.beginbutton {
  padding: 25px 25px;
  font-size: 28px;
  text-align: center;
  cursor: pointer;
  outline: None;
  color: #fff;
  background-color: #4CAF50;
  border: 2px solid black;
  border-radius: 50px;
  box-shadow: 0 9px black;
}

.beginbutton:hover {background-color: #3e8e41}

.beginbutton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

.endbutton {
  padding: 25px 25px;
  font-size: 28px;
  text-align: center;
  cursor: pointer;
  outline: None;
  color: #fff;
  background-color: #ff0000;
  border: 2px solid black;
  border-radius: 50px;
  box-shadow: 0 9px black;
}

.endbutton:hover {
  background-color: #cc0000;
}

.endbutton:active {
  background-color: #cc0000;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

#tutorsdiv {
	margin: auto;
	color: white;
	background-color: rgba(225, 225, 225, 0.4);
  border: 2px solid white;
  border-radius: 2px;
	padding-top: 20px;
  padding-bottom: 20px;
	width: 600px;
	text-align: center;

}

th {
  border: none !important;
  text-align: center;
}

td { border: none !important; }

/* NavBar style stuff */

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	overflow: hidden;
    display: inline-block;
    padding: 10px;
    padding-left: 0;
    padding-top: 2px;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 12px;
	font-family: 'Myriad', sans-serif;
    letter-spacing: 1px;
    
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #787562;
	transition-delay: .15s; /* delays for .15 seconds */
	-webkit-transition-delay: .15s; /* ^for Safari & Chrome */
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* search function styling */
.homepage {
  background-image: url('Studyingbooks.jpg');
  background-size:cover;
  

}

.courselisting {
  text-align: center;
  
}


#myInput {
  background-image: url('search-icon.png');
  background-position: 2px 0px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 14px;
  padding: 5px 20px 5px 40px;
  border: 1px solid #787562;
  margin-top: 10px;
}

#myUL {
  list-style-type: none;
  padding: 40px 80px 20px 80px;
}

#myUL li a {
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
  color: black;
  font-family: 'Lato', sans-serif;
  display: block;
  text-align: left;
}

#myUL li a.header {
  color: #85070A;
  cursor: default;
  font-weight: bold;
  border-bottom: 1px solid #787562;
  text-align: left;
  padding-left: 3px;

}

#myUL li a:hover:not(.header) {
  color: white;
}

#myUL li a.subheader {
    color: black;
}





