<!doctype html>
<html>
<head>
{% load static %}
<link rel="icon" href="{% static 'images/REEDGRIFFIN.png' %}">
<title>
Paneity | {% block title %}{% endblock %}
</title>


{% block bootstrap %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Google fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Nunito|Crimson+Text"/>
{% endblock %}

{# main stylsheet #}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
{# stuff to make mobile friendly #}
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block head %}

{% endblock %}
</head>
<body>
    <div class="row">
        <div class="col-xs-12">
            <div class="banner">
                 <div class="row">
                    <div class="col-lg-3">
                        <div id="bannerdiv">
                                <a href="{% url 'tutor:index' %}">
                                        <h1 class="bannertext">REED COLLEGE</h1>
                                </a>
                        </div>
                    </div>
                </div>

                <div class="hidden-xs">
                    <div class="topnav" id="myTopnav">
                        <a class="menu-element" href="{% url "tutor:index" %}">TUTORING HOMEPAGE</a>
                        <a class="menu-element" href="{% url "spirit:index" %}">FORUM</a>
                        <a class="menu-element" href="{% url "tutor:tutorchat" %}">TUTOR LOGIN</a>
                    </div>
                </div>
                <div class="mobile-nav visible-xs-inline-block">
                    <ul class="nav nav-pills">
                        <li>
                            <a href="{% url "tutor:index" %}">
                                <span style="font-size: 2em;">
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url "spirit:index" %}">
                                <span style="font-size: 2em;">
                                    <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="menu-element" href="{% url "tutor:tutorchat" %}">
                                <span style="font-size: 2em;">
                                    <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                                </span>
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="username_login">
                {% if user.username %}
                <p>You are currently logged in as: {{user.username}}</p>
                {% else %}
                <p>You are not logged in.</p>
                {% endif %}
                <div class="about">
                    <a href="{% url "tutor:about" %}" >About This Page</a>
                </div>
            </div>
        </div>
    </div>

    {% block content %}

    {% endblock %}

    {% block extra_js %}{% endblock %}

</body>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</html>
