{% extends "tutor/base.html" %}

{% block title %}
Office Hours and Drop-In Tutoring
{% endblock %}

{% block content %}

<h3> Drop-In Tutoring and Office Hours: </h3>

<div id="dropincontainer">


<div id="dropindiv">
<h1 id="dropinheader">— Drop-In Tutoring —</h1>
<p> this is where the times for drop in tutoring will go </p>
<ul> 
<li> example </li>
<li> Professor Blahble — Eliot 321 — 3-5 PM Tuesdays+Thursdays </li>
<li> example </li>
</ul>
</div> 




<div id="officehrsdiv"> 
<h1 id="officehrsheader">— Office Hours —</h1>
<p> this is where the times for office hours will go </p>
<ul>
<li> example </li>
<li> example </li>
</ul>
</div>

</div>






{% endblock %}
