{% extends "tutor/base.html" %}

{% block head %}
    <title>
        Paneity - Office Hours and Drop-In Tutoring
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'paneitystyle.css' %}" />
{% endblock %}

{% block content %}

<h3> Drop-In Tutoring and Office Hours: </h3>

<div id="dropincontainer">


<div id="dropindiv">
<h1 id="dropinheader">— Drop-In Tutoring —</h1>
<p> this is where the times for drop in tutoring will go </p>
</div> 




<div id="officehrsdiv"> 
<h1 id="officehrsheader">— Office Hours —</h1>
<p> this is where the times for office hours will go </p>
</div>

</div>






{% endblock %}