{% extends "tutor/base.html" %}
{% load static %}
{% block title %}
Homepage
{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
{% endblock %}

{% block content %}
<div class="homepage">
    <!-- the header below checks if the user logged in has a first name, a username, or if they aren't logged in, and it then
    displays the appropriate greeting. It's all in one line because the formatting on the page got weird otherwise. -->
    <h2>Welcome{% if user.first_name %}, {{user.first_name}}{% elif user.username %}, {{user.username}}{% endif %}!</h2>
    <h3> To find a tutor, please select a course from the list below: </h3>
    <div class="courselisting">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="SEARCH FOR COURSES..." title="Type in a course or subject name">
        <ul id="myUL">
            {% if request.user.student.enrolled_classes.all %}
                <li><a href="#" class="header">Enrolled Courses</a></li>
                {% for course in request.user.student.enrolled_classes.all %}
                    <li><a href = "{{course.id}}/tutors" class="subheader">{{course}}</a></li>
                {% endfor %}
            {% endif %}

            {% for subject in Subjects %}
                <li><a href="#" class="header">{{subject}}</a></li>
                {% for classes in subject.course_set.all %}
                    <li><a href = "{{classes.id}}/tutors" class="subheader">{{classes}}</a></li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>


	<script>
	function myFunction() {
	    var input, filter, ul, li, a, i;
	    input = document.getElementById("myInput");
	    filter = input.value.toUpperCase();
	    ul = document.getElementById("myUL");
	    li = ul.getElementsByTagName("li");
	    for (i = 0; i < li.length; i++) {
	        a = li[i].getElementsByTagName("a")[0];
	        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
	            li[i].style.display = "";
	        } else {
	            li[i].style.display = "none";


	        }
	    }
	}
	</script>


{% endblock %}
