{% extends "tutor/base.html" %}

{% block head %}
	<title> Paneity | Homepage </title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'paneitystyle.css' %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}

{% block content %}
    <div class="homepage">
		<h2> Welcome. </h2>
		<h3> To find a tutor, please select a course from the list below: </h3>
			<div class="courselisting">
				<input type="text" id="myInput" onkeyup="myFunction()" placeholder="SEARCH FOR COURSES..." title="Type in a course or subject name">
				<ul id="myUL">
					{% for subject in Subjects %}
						<li>
						<a href="#" class="header">{{subject}}</a>
						</li>
						{% for classes in subject.course_set.all %}
							<li><a href = "{{classes.id}}/tutors" class="subheader">{{classes}}</a></li>

						{% endfor %}
					{% endfor %}
				</ul>
			</div>
	</div>
	

	<script>
	function myFunction() {
	    var input, filter, ul, li, a, i;
	    input = document.getElementById("myInput");
	    filter = input.value.toUpperCase();
	    ul = document.getElementById("myUL");
	    li = ul.getElementsByTagName("li");
	    for (i = 0; i < li.length; i++) {
	        a = li[i].getElementsByTagName("a")[0];
	        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
	            li[i].style.display = "";
	        } else {
	            li[i].style.display = "none";


	        }
	    }
	}
	</script>

{% endblock %}
