{% extends "tutor/base.html" %}
{% load static %}
{% load i18n %}
{% load tutor_extras %}

{% block title%} 
    You are a Tutor
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Tutoring page</h2>
        <p>
        If you receive a message from a student, you will be alerted here:
        </p>
        <div id="new-message-div">
            

        </div>
        <div id="old-message-div">
            {% for dialog in dialogs %}
                {# this part figures out if the current user is the opponent, #}
                {# or the owner of the dialog #}
                {% with username=dialog|other_username:request.user.username %}
                    <div id="{{username}}-alert" class="alert alert-info" role="alert">
                        Continue Your conversation with <b>{{username}}</b>
                        <a href='{% url "dialogs_detail" username %}' target="_blank" class="alert-link">
                            Click Here!
                        </a>
                    </div>
            
                    {% endwith %}
            {% endfor %}
        </div>
    </div>
    <div id="no-messages-template" class="hidden">
        <div id="no-messages-alert" class="alert alert-danger" role="alert">
            No students have messaged you yet.
        </div> 
    </div>
    <div id="new-message-template" class="hidden">
        <div id="[username]-alert" class="alert alert-success" role="alert">
            <b>Hey!</b> You got a new message from [username].
            {# this assumes that the url for dialog_detail will be the same as dialogs, but with a username on the end #}
            <a href='{% url "dialogs" %}[username]' target="_blank" class="alert-link">
                You can view the message and reply here.
            </a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        var base_ws_server_path = "{{ ws_server_path }}";

        var session_key = '{{ request.session.session_key }}'

        function getOpponnentUsername() {
            return "{{ opponent_username }}";
        }
    </script>
    <script src="{% static 'js/tutorchat.js' %}"
{% endblock %}
