{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load tutor_extras %}
{% block css %}
    {{ block.super }}
    <link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static "css/django_private_chat.css" %}" rel="stylesheet" type="text/css" media="all">

{% endblock css %}

{% block content %}
<div class="banner">
     <div class="row">
        <div class="col-lg-3">
            <div id="bannerdiv">
                    <a href="{% url 'tutor:index' %}">
                            <h1 id="bannertext">REED COLLEGE</h1>
            </div>



        </div>
    </div>
    <div class="topnav" id="myTopnav">
            <a class="menu-element" href="{% url "tutor:index" %}">TUTORING HOMEPAGE</a>
            <a class="menu-element" href="{% url "spirit:index" %}">FORUM</a>
            <a class="menu-element" href="{% url "tutor:tutorchat" %}">TUTOR LOGIN</a>

    </div>

</div>
<div id="username">
    {% if user.username %}
    <p>You are currently logged in as: {{user.username}}</p>
    {% else %}
    <p>You are not logged in.</p>
    {% endif %}
    <div id="about">
        <a href="{% url "tutor:about" %}" >About This Page</a>
    </div>
</div>

    <input id="owner_username" type="hidden" value="{{ request.user.username }}">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-9">
                <span class="pull-right" hidden id="typing-text">
                    <strong>{{ dialog|get_name:opponent_username }} {% trans "is typing..." %}</strong>
                </span>
            </div>
            <p id="chatting_with">
            You are chatting with {{ dialog|get_name:opponent_username }}
            </p>
            <p class="text-success" id="online-status" style="display: none">{{ dialog|get_name:opponent_username }} is {% trans "Online" %}</p>
            <p class="text-danger" id="offline-status" style="display: none">{{ dialog|get_name:opponent_username }} is {% trans "Offline" %}</p>

            <div class="messages-container">
                <div id="messages" class="messages">
                    {% for msg in active_dialog.messages.all %}
                        <div class="row msg">
                            <p class="{% if msg.sender == request.user %}pull-left{% else %}pull-right{% endif %}">
                                {% if msg.sender.first_name %}
                                    <span class="username them">{{ msg.sender.first_name }} {{msg.sender.last_name}}:</span>
                                {% else %}
                                    <span class="username them">{{ msg.sender.username }}:</span>
                                {% endif %}
                                {% autoescape off %}
                                    {{ msg.text}}
                                {% endautoescape %}
                                <span class="timestamp">&ndash; <span
                                        data-livestamp="{{ msg.get_formatted_create_datetime }}">{{ msg.get_formatted_create_datetime }}</span></span>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="add-message">
                <div class="form-group">
                    <textarea id="chat-message" class="form-control message"
                              placeholder="{% trans 'Write a message' %}"></textarea>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <a id="btn-video-call" target="_blank" class="btn btn-success" href="{{ request.user.username|get_vc_link:opponent_username}}">
                            Start Video Call
                        </a>
                    </div>
                    <div class="col-xs-1 pull-right">
                        <div class="form-group clearfix">
                            <input id="btn-send-message" type="submit" class="btn btn-primary pull-right send-message"
                                   style="margin-left: 10px;" value="{% trans 'Send' %}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# This is the template for the message that gets sent out when a user starts a video call #}
    <div id="vc-link-message-template" class="hidden">
        I started a video call. You can access it <a target='_blank' href='{{ request.user.username|get_vc_link:opponent_username }}'>here</a>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
        var base_ws_server_path = "{{ ws_server_path }}";

        var session_key = '{{ request.session.session_key }}'

        function getOpponnentUsername() {
            return "{{ opponent_username }}";
        }
    </script>
    <script src="{% static 'js/dialogs.js' %}"></script>
{% endblock %}
